/** slide 2 */
.slider-caption1 {
  position: absolute;
  width: 100%;
  padding: 60px;
  height: auto;
  /*background-color: rgba(208, 20, 3, 0.5);*/
      background-color: rgba(165, 0, 52, 0.7);
  /*z-index: 1105;*/
  color: #ffffff;
  top: 35%;
  text-align: center; }
  .slider-caption1 h3 {
    font-weight: 600;
    font-size: 30px;
    margin-top: 0px; }
  .slider-caption1 h4 {
    font-weight: 400;
    font-size: 18px;
    margin-top: 0px; }

@media (min-width: 768px) and (max-width: 991px) {
  .slider-caption1 {
    padding: 30px; }
    .slider-caption1 h3 {
      font-weight: 600;
      font-size: 22px;
      margin-top: 0px; }
    .slider-caption1 h4 {
      font-size: 15px;
      margin-top: 0px; } }

@media (min-width: 320px) and (max-width: 767px) {
  .slider-caption1 {
    padding: 20px 30px 10px 20px; }
    .slider-caption1 h3 {
      font-weight: 600;
      font-size: 15px;
      margin-top: 0px; }
    .slider-caption1 h4 {
      font-size: 12px;
      margin-top: 0px; } }

/** slide 3 */
.slider-caption2 {
  position: absolute;
  width: 100%;
  padding: 60px;
  height: auto;
  /*background-color: rgba(188, 208, 3, 0.5);*/
      background-color: rgba(255, 69, 0, 0.7);
  /*z-index: 1105;*/
  color: #ffffff;
  top: 35%;
  text-align: center; }
  .slider-caption2 h3 {
    font-weight: 600;
    font-size: 30px;
    margin-top: 0px; }
  .slider-caption2 h4 {
    font-weight: 400;
    font-size: 18px;
    margin-top: 0px; }

@media (min-width: 768px) and (max-width: 991px) {
  .slider-caption2 {
    padding: 30px; }
    .slider-caption2 h3 {
      font-weight: 600;
      font-size: 22px;
      margin-top: 0px; }
    .slider-caption2 h4 {
      font-size: 15px;
      margin-top: 0px; } }

@media (min-width: 320px) and (max-width: 767px) {
  .slider-caption2 {
    padding: 20px 30px 10px 20px; }
    .slider-caption2 h3 {
      font-weight: 600;
      font-size: 15px;
      margin-top: 0px; }
    .slider-caption2 h4 {
      font-size: 12px;
      margin-top: 0px; } }

/** slide 4 */
.slider-caption3 {
  position: absolute;
  width: 100%;
  padding: 60px;
  height: auto;
 /* background-color: rgba(0, 128, 0, 0.5);*/
  background-color: rgba(52, 178, 51, 0.79);
  /*z-index: 1105;*/
  color: #ffffff;
  top: 35%;
  text-align: center; }
  .slider-caption3 h3 {
    font-weight: 600;
    font-size: 30px;
    margin-top: 0px; }
  .slider-caption3 h4 {
    font-weight: 400;
    font-size: 18px;
    margin-top: 0px; }

@media (min-width: 768px) and (max-width: 991px) {
  .slider-caption3 {
    padding: 30px; }
    .slider-caption3 h3 {
      font-weight: 600;
      font-size: 22px;
      margin-top: 0px; }
    .slider-caption3 h4 {
      font-size: 15px;
      margin-top: 0px; } }

@media (min-width: 320px) and (max-width: 767px) {
  .slider-caption3 {
    padding: 20px 30px 10px 20px; }
    .slider-caption3 h3 {
      font-weight: 600;
      font-size: 15px;
      margin-top: 0px; }
    .slider-caption3 h4 {
      font-size: 12px;
      margin-top: 0px; } }

/** slide 5 */
.slider-caption4 {
  position: absolute;
  width: 100%;
  padding: 60px;
  height: auto;
  /*background-color: rgba(1, 146, 245, 0.7);*/
  background-color: rgba(0, 133, 202, 0.76);
  /*z-index: 1105;*/
  color: #ffffff;
  top: 35%;
  text-align: center; }
  .slider-caption4 h3 {
    font-weight: 600;
    font-size: 30px;
    margin-top: 0px; }
  .slider-caption4 h4 {
    font-weight: 400;
    font-size: 18px;
    margin-top: 0px; }

@media (min-width: 768px) and (max-width: 991px) {
  .slider-caption4 {
    padding: 30px; }
    .slider-caption4 h3 {
      font-weight: 600;
      font-size: 22px;
      margin-top: 0px; }
    .slider-caption4 h4 {
      font-size: 15px;
      margin-top: 0px; } }

@media (min-width: 320px) and (max-width: 767px) {
  .slider-caption4 {
    padding: 20px 30px 10px 20px; }
    .slider-caption4 h3 {
      font-weight: 600;
      font-size: 15px;
      margin-top: 0px; }
    .slider-caption4 h4 {
      font-size: 12px;
      margin-top: 0px; } }

/** slide 5 */
.slider-caption5 {
  position: absolute;
  width: 100%;
  padding: 60px;
  height: auto;
  /*background-color: rgba(188, 208, 3, 0.5);*/
  background-color: rgba(0, 185, 225, 0.7);
  /*z-index: 1105;*/
  color: #ffffff;
  top: 35%;
  text-align: center; }
  .slider-caption5 h3 {
    font-weight: 600;
    font-size: 30px;
    margin-top: 0px; }
  .slider-caption5 h4 {
    font-weight: 400;
    font-size: 18px;
    margin-top: 0px; }

@media (min-width: 768px) and (max-width: 991px) {
  .slider-caption5 {
    padding: 30px; }
    .slider-caption5 h3 {
      font-weight: 600;
      font-size: 22px;
      margin-top: 0px; }
    .slider-caption5 h4 {
      font-size: 15px;
      margin-top: 0px; } }

@media (min-width: 320px) and (max-width: 767px) {
  .slider-caption5 {
    padding: 20px 30px 10px 20px; }
    .slider-caption5 h3 {
      font-weight: 600;
      font-size: 15px;
      margin-top: 0px; }
    .slider-caption5 h4 {
      font-size: 12px;
      margin-top: 0px; } }


/** end slide caption */

 .seo-bug-fix h1, .seo-bug-fix h2{
    margin: 0;
  }
  .logo-topleft.seo-bug-fix, .logo-topleft-black.seo-bug-fix {
    padding-top: 0;
  }

.page-template-promosi .txt-item-promo {
    font-size: 28px;
    margin-top: 7px;
}

.page-template-promosi .item-promo {
    width: 100%;
}

.page-template-promosi .carousel-promo {
    width: 84%;
    text-align: center;
}

.wrap-faq .panel-body a {
    color: yellow;
}

@media (max-width: 767px) and (min-width: 320px){
   .top-title-blog h4 span {
            color: #a07acb;
        }
    .top-title-blog h4 {
        font-size: 30px;
        letter-spacing: 9px;
        margin-top: 0px;
        word-wrap: break-word;
        text-align: center;
    }

    .title-contact h5 {
        margin-top: 0px;
        font-size: 30px;
        letter-spacing: 10px;
    }

    .slider-caption h2 {
        font-weight: 600;
        font-size: 15px;
        margin-top: 0px;
    }
}


/* BERANDA */
.main-carousel .slider-caption h2{
    line-height: 50px;
}

/* SOLUSI */
.sub-wifi-subtitle .sub-wifi{
    margin-top: 10px;
    color: #4a4a4a;
    line-height: 28px;
}