a {
  text-decoration: none; }

.section-standad-padding {
  padding: 1em 0; }

.logo-topleft a img {
  width: 150px; }

.logo-topright a img {
  width: 175px; }

.txt-purple {
  color: #8156be; }

.desktop-only {
  display: block !important; }

.mobile-only {
  display: none !important; }

.desktop-only-inline-block {
  display: inline-block !important; }

.mobile-only-inline-block {
  display: none !important; }

#myCarousel {
  padding-top: 85px; }

.slider-caption1, .slider-caption2, .slider-caption3, .slider-caption4, .slider-caption5 {
  left: 65% !important; }
  .slider-caption1 a, .slider-caption2 a, .slider-caption3 a, .slider-caption4 a, .slider-caption5 a {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px !important;
    min-width: 200px !important; }

.home-link {
  padding: 0; }
  .home-link li {
    list-style: none;
    display: inline-block; }
    .home-link li a.black-btn {
      color: #000;
      border: solid 1px #000; }

.wrap-content-pabx, .wrap-content-switch-new, .wrap-content-access-point {
  padding: 80px 0px 80px 0px; }

.wrap-content-access-point .top-title h3, .wrap-content-pabx .top-title h3 {
  color: #fff; }

.txt-access-point, .txt-pabx {
  color: #fff; }

.wrap-content-switch-new .top-title h3 {
  color: #7E5EAA; }

.wrap-content-switch-new .txt-switch-new {
  color: #000; }

.wrap-content-pabx {
  background: url(../images/bgpa.jpg) right center no-repeat;
  background-size: cover; }

.wrap-content-switch-new {
  background: url(../images/bgswitch.jpg) right center no-repeat;
  background-size: cover; }

.wrap-content-access-point {
  background: url(../images/bgapoint.jpg) right center no-repeat;
  background-size: cover; }

#wrap-blog-content {
  -webkit-box-shadow: 0px 0px 37px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 37px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 37px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 37px 5px rgba(0, 0, 0, 0.2); }

.wrap-blog-carousel {
  padding: 10px 0px 80px 0px; }

.wrap-main-productlist-title {
  padding: 130px 0 60px 0; }
  .wrap-main-productlist-title .top-title-product h4 {
    text-align: center;
    color: #8156be;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 30px;
    margin-bottom: 30px; }

.dropdown .btn-product-list {
  width: 100%;
  border: solid 1px #8156be;
  background: url(../img/dropdown-arrow-bg.png) 95% center no-repeat;
  background-size: 25px;
  display: block;
  padding: 1em;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #8156be;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease; }

.product-wrapper {
  border: solid 1px #d2d2d2;
  padding: 2em; }

#product-lists-wrap {
  padding: 60px 0px; }

.product-title h3 {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #8156be; }

.product-content {
  position: relative; }
  .product-content .fitur-btn {
    margin: 1em 0px;
    position: relative; }
    .product-content .fitur-btn .content-fitur {
      position: absolute;
      z-index: 9998;
      top: 20px;
      left: 21%;
      width: 100%;
      padding: 7px;
      display: none; }
    .product-content .fitur-btn.selected .content-fitur {
      display: block; }

.product-btn-group .btn-product a {
  background: #8156be;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  text-decoration: none !important; }
  .product-btn-group .btn-product a:hover {
    background: #e5d4ff;
    color: #403e43; }

.product-btn-group .btn-fitur-detail {
  text-align: center; }

.product-btn-group .fitur-btn a, .product-btn-group .btn-fitur-detail a {
  padding: 0.3em 2em;
  font-size: 16px; }

.product-btn-group #beli-btn a {
  padding: 0.2em 2.2em;
  font-size: 20px; }

.product-btn-group .fitur-btn, .product-btn-group #beli-btn {
  text-align: center; }

.content-fitur, .content-fitur-detail {
  text-align: left !important; }
  .content-fitur .purple-bg, .content-fitur-detail .purple-bg {
    background: #8156be;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.1em 1em; }
  .content-fitur .port-container, .content-fitur .dimensions-container, .content-fitur .opcondition-container, .content-fitur .buy-btn-inside, .content-fitur-detail .port-container, .content-fitur-detail .dimensions-container, .content-fitur-detail .opcondition-container, .content-fitur-detail .buy-btn-inside {
    margin-top: 10px; }
    .content-fitur .port-container .fitur-container-detail, .content-fitur .dimensions-container .fitur-container-detail, .content-fitur .opcondition-container .fitur-container-detail, .content-fitur .buy-btn-inside .fitur-container-detail, .content-fitur-detail .port-container .fitur-container-detail, .content-fitur-detail .dimensions-container .fitur-container-detail, .content-fitur-detail .opcondition-container .fitur-container-detail, .content-fitur-detail .buy-btn-inside .fitur-container-detail {
      padding: 1em;
      background: #e5d4ff; }
  .content-fitur .buy-btn-inside a, .content-fitur-detail .buy-btn-inside a {
    background: #8156be;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    text-decoration: none !important;
    width: 100%;
    display: block;
    text-align: center;
    padding: 0.3em;
    font-size: 20px; }
    .content-fitur .buy-btn-inside a:hover, .content-fitur-detail .buy-btn-inside a:hover {
      background: #e5d4ff;
      color: #403e43; }

.btn-other-product {
  padding: 2em 0; }
  .btn-other-product a {
    padding: 1em;
    border: solid 1.5px #d2d2d2;
    color: #d2d2d2;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease; }
    .btn-other-product a:hover {
      color: #d6d6d6;
      border: solid 1.5px #d6d6d6; }

#single-product-page {
  padding: 140px 0px 60px 0; }
  #single-product-page .fitur-detail-title h3 {
    color: #8156be; }
  #single-product-page .fitur-container-header {
    font-weight: bold; }

.page-template-page-produk .pagination li a {
  background-color: transparent; }

footer .menu-footer-menu-container ul {
  padding: 0;
  margin: 2em 0; }

footer .menu-footer-menu-container ul li {
  display: inline-block;
  list-style-type: none;
  padding: 0 3em;
  border-right: solid 1px #fff; }
  footer .menu-footer-menu-container ul li:last-child {
    border-right: none; }
  footer .menu-footer-menu-container ul li:nth-child(1) {
    padding-left: 0; }
  footer .menu-footer-menu-container ul li a {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase; }

.socmed-footer {
  width: 13%;
  float: left; }

.wrap-solusi-new .wrap-zoom {
  bottom: -10%;
  top: 100%;
  left: 100%;
  right: 0; }
  .wrap-solusi-new .wrap-zoom a img {
    width: 50px !important; }

.wrap-solusi-new .top-title h3, .wrap-solusi-new .top-title h3 span {
  font-size: 50px;
  color: #fff;
  letter-spacing: 20px; }

.wrap-solusi-new .top-title.black-color h3, .wrap-solusi-new .top-title.black-color h3 span {
  color: #403e43; }

.bg-purple {
  background: #8156be;
  color: #fff; }
  .bg-purple .icon-keuntungan {
    min-height: 103px; }
  .bg-purple p {
    padding: 0.5em 0;
    font-weight: bold; }

.bg-purple, .bg-white {
  padding: 80px 0px; }
  .bg-purple h3.solusi-detail-title-1, .bg-white h3.solusi-detail-title-1 {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 2em; }

.btn-solusi-detail {
  padding: 1em 0; }
  .btn-solusi-detail a {
    background-color: #7E5EAA;
    border: 1px solid #7E5EAA;
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    text-align: center; }

.wrap-content-omnivista {
  padding: 60px 0px 120px 0px;
  background: url(../img/bgomni.png) no-repeat;
  background-size: cover;
  background-position: 100%; }

.wrap-content-promo-oxo {
  padding: 60px 0px 120px 0px;
  background: url(../img/bgpromooxo.png) no-repeat;
  background-size: cover;
  background-position: center; }

.wrap-content-promo-switch-white-gray {
  padding: 60px 0px 120px 0px;
  background: url(../img/bgpromoswitch.png) no-repeat;
  background-size: cover;
  background-position: center; }

.wrap-content-promo-wifi-purple-full {
  padding: 60px 0px 120px 0px;
  background: #8156be; }

.btn-promo-single {
  color: #fff;
  border: solid 1px #fff;
  display: inline-block;
  text-transform: uppercase;
  padding: 16px 25px;
  letter-spacing: 1px;
  margin-top: 30px; }
  .btn-promo-single:hover {
    background-color: #7f5ab3;
    border: solid 1px #7f5ab3;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease; }
  .btn-promo-single i {
    margin-left: 8px; }

.single-promosi-alcatel .txt-detail-produk ul {
  padding-left: 1em; }

.promo-detail-subheader {
  font-size: 18px;
  margin: 1.2em 0;
  font-weight: 600; }
  .promo-detail-subheader span.txt-price-bigger {
    font-size: 24px;
    font-weight: bold; }

.btn-promo-whatsapp, .btn-promo-email {
  margin-left: 6em; }
  .btn-promo-whatsapp a, .btn-promo-email a {
    color: #fff;
    font-weight: 600;
    font-size: 16px; }

@media (min-width: 320px) and (max-width: 767px) {
  .logo-topleft a img, .logo-topright a img {
    width: 100% !important; }
  .home-link li {
    display: block; }
    .home-link li:first-child {
      margin-bottom: 1em; }
    .home-link li a {
      margin: 0 !important; }
  footer .menu-footer-menu-container ul li {
    padding: 0 0.5em; }
    footer .menu-footer-menu-container ul li a {
      font-size: 12px; }
  #wrap-blog-content {
    box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -moz-box-shadow: none; }
  .content-blog {
    -webkit-box-shadow: 0px 0px 37px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 37px 5px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 37px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 37px 5px rgba(0, 0, 0, 0.2); }
  .socmed-footer, .copyright {
    width: 100%; }
  .wrap-title-bottom {
    padding: 1em 3em;
    margin-bottom: 1em; }
    .wrap-title-bottom .date-bottom p, .wrap-title-bottom .date-bottom a, .wrap-title-bottom .title-bottom p, .wrap-title-bottom .title-bottom a {
      font-size: 12px !important; }
  .page-template-solusi .wrap-content-oxo {
    background: #8156be !important; }
  .page-template-solusi .wrap-content-switch {
    background: #e0e0e0 !important; }
  .page-template-solusi .wrap-content-wifi {
    background: #a07acb !important; }
  .promo-detail-subheader {
    font-size: 16px;
    margin: 1.2em 0; }
    .promo-detail-subheader span.txt-price-bigger {
      font-size: 22px;
      font-weight: bold; }
  .page-template-promosi .wrap-content-promo-oxo {
    background: #a07acb !important; }
  .page-template-promosi .wrap-content-promo-switch-white-gray, .page-template-promosi .wrap-content-omnivista {
    background: #e0e0e0 !important; }
  .page-template-promosi .right-content .btn-content {
    padding: 14px 25px;
    border: solid 1px #fff;
    color: #fff;
    text-transform: uppercase;
    margin-top: 30px;
    text-decoration: none; }
    .page-template-promosi .right-content .btn-content i {
      margin-left: 8px; }
  .page-template-promosi .right-content .switch-btn {
    color: #403e43;
    border: solid 1px #403e43; }
  .btn-get-promo a {
    font-size: 14px; }
  .wrap-main-productlist-title .top-title-product h4 {
    font-size: 30px;
    letter-spacing: 10px; }
  .btn-promo-whatsapp, .btn-promo-email {
    margin-left: 1em; }
    .btn-promo-whatsapp a, .btn-promo-email a {
      font-size: 14px; }
  .wrap-main-productlist-title {
    padding: 120px 0 10px 0; }
  #product-lists-wrap {
    padding: 25px 0; }
  .dropdown .btn-product-list {
    background: url(../img/arrow-right-bg.png) 95% center no-repeat;
    background-size: 10px;
    padding: 0.5em; }
  .dropdown.open .btn-product-list {
    background: url(../img/dropdown-arrow-bg.png) 95% center no-repeat;
    background-size: 18px;
    padding: 0.5em; }
  .dropdown-menu {
    border: none; }
    .dropdown-menu li a {
      border-bottom: solid 1px #8156be;
      color: #8156be; }
  .product-wrapper {
    padding: 0.5em; }
  .btn-other-product {
    text-align: center !important; }
  .product-btn-group #fitur-btn a, .product-btn-group .btn-fitur-detail a {
    padding: 5px 15px;
    font-size: 16px; }
  .product-btn-group #beli-btn a {
    font-size: 16px;
    padding: 5px 20px; }
  .product-title h3 {
    font-size: 12px; }
  .desktop-only {
    display: none !important; }
  .mobile-only {
    display: block !important; }
  .desktop-only-inline-block {
    display: none !important; }
  .mobile-only-inline-block {
    display: inline-block !important; }
  .wrap-content-access-point .top-title h3, .wrap-content-access-point .top-title h3 span, .wrap-content-pabx .top-title h3, .wrap-content-pabx .top-title h3 span, .wrap-solusi-new .top-title h3, .wrap-solusi-new .top-title h3 span {
    font-size: 30px;
    letter-spacing: 15px; } }
