//mobile

@media (min-width: 320px) and (max-width: 767px) {

    //Homepage

    .logo-topleft, .logo-topright {
        a {
         img {
           width: 100%!important;
         }
        }
       }

    .home-link {
        li {
            display: block;
            &:first-child {
                margin-bottom: 1em;
            }
          a {
              margin: 0!important;
          }
        }
      }
    footer {
        .menu-footer-menu-container {
            ul {
                li {
                    padding: 0 0.5em;
                    a {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    #wrap-blog-content {
        box-shadow: none;
        -webkit-box-shadow: none;
        -o-box-shadow: none;
        -moz-box-shadow: none;
    }

    .content-blog {
        -webkit-box-shadow: 0px 0px 37px 5px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 0px 37px 5px rgba(0,0,0,0.2);
        -o-box-shadow: 0px 0px 37px 5px rgba(0,0,0,0.2);
        box-shadow: 0px 0px 37px 5px rgba(0,0,0,0.2);
    }

    .socmed-footer, .copyright {
        width: 100%;
    }

      .wrap-title-bottom {
          padding: 1em 3em;
          margin-bottom: 1em;

          .date-bottom, .title-bottom {
              p, a {
                font-size:12px !important;
              }
          }
      }

      //solusi
      .page-template-solusi {
        .wrap-content-oxo {
            background: #8156be!important;
        }
        .wrap-content-switch {
            background:#e0e0e0 !important;
        }
        .wrap-content-wifi {
            background: #a07acb!important;
        }
  
      }
    //Promopage

    .promo-detail-subheader {
        font-size: 16px; 
        margin: 1.2em 0;
        span.txt-price-bigger {
            font-size: 22px;
            font-weight: bold;
        }
    }

    .page-template-promosi {
        .wrap-content-promo-oxo {
            background: #a07acb!important;
        }

        .wrap-content-promo-switch-white-gray, .wrap-content-omnivista {
            background: #e0e0e0!important;
        }

        .right-content {
            .btn-content {
                padding: 14px 25px;
                border: solid 1px #fff;
                color: #fff;
                text-transform: uppercase;
                margin-top:30px;
                text-decoration: none;

                i {
                    margin-left: 8px;
                }
            }
            .switch-btn {
                color: #403e43;
                border: solid 1px #403e43;
            }
        }

       
    }

    //promo detail button 
    .btn-get-promo a {
        font-size: 14px;
    }
    .wrap-main-productlist-title {
         .top-title-product {
           h4 {
            font-size: 30px;
            letter-spacing: 10px;
           }
         }
     }
     .btn-promo-whatsapp, .btn-promo-email {
        margin-left: 1em;
        a {
            font-size: 14px;
        }
     }

     //product page 

     .wrap-main-productlist-title  {
         padding : 120px 0 10px 0;
     }

     #product-lists-wrap {
        padding : 25px 0;
     }
     .dropdown {
        .btn-product-list {
            background: url(../img/arrow-right-bg.png) 95% center no-repeat;
            background-size: 10px;
            padding: 0.5em;
        }

        &.open {
            .btn-product-list {
                background: url(../img/dropdown-arrow-bg.png) 95% center no-repeat;
                background-size: 18px;
                padding: 0.5em;
            }
        }
    }

     .dropdown-menu {
         border: none;
         li {
             a {
                 border-bottom: solid 1px #8156be;
                 color: #8156be
             }
         }
     }
     
     .product-wrapper{
         padding: 0.5em;
     }

     .btn-other-product {
        text-align: center!important;
     }

     .product-btn-group {
        #fitur-btn, .btn-fitur-detail {
          a {
            padding: 5px 15px;
            font-size: 16px;
          }
        }
        #beli-btn {
            a {
                font-size:16px;
                padding: 5px 20px;
            }
        }
      }
    
      .product-title {
          h3 {
            font-size: 12px;
          }
      }

    .desktop-only {
    display: none !important;
    }

    .mobile-only {
    display: block !important;
    }
    .desktop-only-inline-block {
        display: none !important;
    }
      
    .mobile-only-inline-block {
        display: inline-block !important;
    }

    .wrap-content-access-point, .wrap-content-pabx, .wrap-solusi-new {
        .top-title {
            h3, h3 span {
            font-size: 30px;
            letter-spacing: 15px;
            }
        }
    }
}