//Global 
a {
  text-decoration: none;
}

.section-standad-padding {
  padding: 1em 0;
}
//Mav
.logo-topleft {
 a {
  img {
    width: 150px;
  }
 }
}

.logo-topright {
 a {
  img {
    width: 175px;
  }
 }
}

.txt-purple {
  color: #8156be;
}

.desktop-only {
  display: block !important;
}

.mobile-only {
  display: none !important;
}

.desktop-only-inline-block {
  display: inline-block !important;
}

.mobile-only-inline-block {
  display: none !important;
}


//home page

#myCarousel {
  padding-top: 85px;
}
.slider-caption1,.slider-caption2,.slider-caption3, .slider-caption4, .slider-caption5 {
  left: 65% !important;
  a {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    -webkit-border-radius: 0px;
    -moz-border-radius:0px;
    border-radius:0px!important;
    min-width: 200px !important;
  }
}

.home-link {
  padding: 0;
  li {
    list-style: none;
    display: inline-block;

    a.black-btn {
      color: #000;
      border: solid 1px #000;
    }
  }
}

.wrap-content-pabx, .wrap-content-switch-new, .wrap-content-access-point {
  padding: 80px 0px 80px 0px;
}

.wrap-content-access-point, .wrap-content-pabx {
  .top-title {
    h3 {
      color: #fff;
    }
  }
}

.txt-access-point, .txt-pabx {
  color: #fff;
}

.wrap-content-switch-new {
  .top-title {
    h3 {
      color:#7E5EAA; 
    }
  }

  .txt-switch-new {
    color: #000;
  }
}

.wrap-content-pabx {
  background: url(../images/bgpa.jpg) right center no-repeat;
  background-size: cover;
}
.wrap-content-switch-new {
  background: url(../images/bgswitch.jpg) right center no-repeat;
  background-size: cover;
}
.wrap-content-access-point {
  background: url(../images/bgapoint.jpg) right center no-repeat;
  background-size: cover;
}

//blog section
#wrap-blog-content {
  -webkit-box-shadow: 0px 0px 37px 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 37px 5px rgba(0,0,0,0.2);
  -o-box-shadow: 0px 0px 37px 5px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 37px 5px rgba(0,0,0,0.2);
}

.wrap-blog-carousel {
  padding: 10px 0px 80px 0px;
}

//product page
.wrap-main-productlist-title {
   padding: 130px 0 60px 0; 
    .top-title-product {
      h4 {
      text-align: center;
      color:#8156be;
      font-size: 60px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 30px;
      margin-bottom: 30px; 
      }
    }
}

.dropdown {
  .btn-product-list {
    width: 100%;
    border: solid 1px #8156be; 
    background: url(../img/dropdown-arrow-bg.png) 95% center no-repeat;
    background-size: 25px;
    display: block;
    padding: 1em;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #8156be;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
  }
}

.product-wrapper {
  border: solid 1px #d2d2d2;
  padding: 2em;
}

#product-lists-wrap {
  padding: 60px 0px;
}

.product-title {
  h3 {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #8156be;
  }
}

.product-content {
  position: relative;
  
  .fitur-btn {
    margin: 1em 0px;
    position: relative;
    .content-fitur {
      position: absolute;
      z-index: 9998;
      top: 20px;
      left: 21%;
      width: 100%;
      padding: 7px;
      display:none;
    }
    &.selected {
      .content-fitur{
        display: block;
      }
    }
  }
}
.product-btn-group {
  .btn-product {
    a {
      background: #8156be;
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      text-decoration: none!important;
      &:hover {
        background: #e5d4ff;
        color: #403e43;
      }
    }
  }

  .btn-fitur-detail {
    text-align: center;
  }
  .fitur-btn, .btn-fitur-detail {
    a {
      padding: 0.3em 2em;
      font-size: 16px;
    }
  }
  #beli-btn {
    a {
      padding: 0.2em 2.2em;
      font-size: 20px;
    }
  }

  .fitur-btn, #beli-btn {
    text-align:center;
  }
}

.content-fitur, .content-fitur-detail {
  text-align: left!important;
  .purple-bg {
    background: #8156be;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.1em 1em;
  }

  .port-container, .dimensions-container, .opcondition-container, .buy-btn-inside {
    margin-top: 10px;

    .fitur-container-detail {
      padding: 1em;
      background: #e5d4ff;
    }
  }

  .buy-btn-inside {
    a {
      background: #8156be;
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        text-decoration: none!important;
      width: 100%;
      display: block;
      text-align: center;
      padding: 0.3em;
      font-size: 20px;
      &:hover {
        background: #e5d4ff;
        color: #403e43;
      }
    }
  }
}

.btn-other-product {
  padding: 2em 0;
  a {
    padding: 1em;
    border: solid 1.5px #d2d2d2;
    color: #d2d2d2;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          -ms-transition: all 0.2s ease;

    &:hover {
      color: #d6d6d6;
      border: solid 1.5px #d6d6d6;
    }
  }
}

//Single Product
#single-product-page {
  padding: 140px 0px 60px 0;

  .fitur-detail-title {
    h3 {
      color: #8156be;
    }
  }

  .fitur-container-header {
    font-weight: bold;
  }
}

//pagination

.page-template-page-produk {
  .pagination {
      li 
      {
        a {
          background-color: transparent;
        }
      }
  }
}


//footer 
footer .menu-footer-menu-container ul {
  padding: 0;
  margin: 2em 0; 
}

footer {
  .menu-footer-menu-container {
    ul {
      li {
        display: inline-block;
        list-style-type: none;
        padding: 0 3em;
        border-right: solid 1px #fff;
        &:last-child {
          border-right: none; 
        }
        &:nth-child(1) {
          padding-left: 0; 
        }
          a {
            color: #fff;
            font-weight: bold;
            font-size: 18px;
            text-transform: uppercase; 
          }
      }
    }
  }
}

.socmed-footer {
  width: 13%;
  float: left;
}

//Solusi details page

.wrap-solusi-new {
  .wrap-zoom {
    bottom: -10%;
    top:100%;
    left:100%;
    right: 0;
    a {
      img {
        width: 50px !important;
      }
    }
  }

  .top-title {
    h3, h3 span {
      font-size: 50px;
      color: #fff;
      letter-spacing: 20px;
    }
  }

  .top-title.black-color {
    h3, h3 span {
      color:#403e43;
    }
  }
}

.bg-purple {
  background: #8156be;
  color: #fff;
  .icon-keuntungan {
    min-height: 103px;
  }
  p {
    padding: 0.5em 0;
    font-weight: bold;
  }
}
.bg-purple, .bg-white {
  padding: 80px 0px;

  h3.solusi-detail-title-1 {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 2em;
  }
}

.btn-solusi-detail {
  padding: 1em 0;
  a {
    background-color: #7E5EAA;
    border: 1px solid #7E5EAA;
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }
}

//promo page
.wrap-content-omnivista {
  padding: 60px 0px 120px 0px;
  background: url(../img/bgomni.png) no-repeat;
  background-size: cover;
  background-position: 100%;
}

.wrap-content-promo-oxo {
  padding: 60px 0px 120px 0px;
    background: url(../img/bgpromooxo.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.wrap-content-promo-switch-white-gray{
  padding: 60px 0px 120px 0px;
    background: url(../img/bgpromoswitch.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.wrap-content-promo-wifi-purple-full {
  padding: 60px 0px 120px 0px;
  background: #8156be;
}


.btn-promo-single {
  color: #fff;
  border: solid 1px #fff;
  display: inline-block;
  text-transform: uppercase;
  padding: 16px 25px;
  letter-spacing: 1px;
  margin-top: 30px;

  &:hover {
    background-color: #7f5ab3;
    border: solid 1px #7f5ab3;
    color:#fff;
    text-decoration: none;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
  }

  i {
    margin-left: 8px;
  }
}

.single-promosi-alcatel {
  .txt-detail-produk {
    ul {
      padding-left: 1em; 
    }
  }
}

.promo-detail-subheader {
  font-size: 18px; 
  margin: 1.2em 0;
  font-weight: 600;
  span.txt-price-bigger {
    font-size: 24px;
    font-weight: bold;
  }
}


//icon
.btn-promo-whatsapp, .btn-promo-email {
  margin-left: 6em;
    a {
      color: #fff;
      font-weight: 600;
      font-size: 16px;
    }
}


@import 'responsive.scss';
