/*
Theme Name: Alcatel
Theme URI: http://alcatel.com
Author: DgTraffic
Author URI: http://alcatel.com
Description: custom theme for alcatel
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: 
Text Domain: alcatel

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

.list_carousel {
    height: 175px;
    margin: 0 auto;
    overflow: hidden;
    width: 660px;
}
.list_carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
.list_carousel li {
    font-size: 14px;
    color: #333;
    width: 200px;
    padding: 0;
    margin: 2px;
    display: block;
    float: left;
}
.list_carousel.responsive {
    width: auto;
    margin-left: 0;
}
.list_carousel .clearfix {
    float: none;
    clear: both;
}
.list_carousel a.prev {
    background: url("next-arrow-left.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 150px;
    position: relative;
    top: -174px;
    width: 50px;
}
.list_carousel a.next {
    background: url("next-arrow-right.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 150px;
    position: relative;
    left: 635px !important;
    top: -324px;
    width: 50px;
}
.list_carousel a.prev {
}
.list_carousel a.next {
    right: -29px;
}
.list_carousel a.prev.disabled, a.next.disabled {
    cursor: default;
}
.list_carousel a.prev span, a.next span {
    display: none;
}
#foo2 {
    left: 20px;
    margin: 0 2px;
    position: relative;
}